<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <gazebo>
        <plugin name="gz::sim::systems::DiffDrive"
            filename="gz-sim-diff-drive-system">

            <!-- Wheel Information -->
            <left_joint>left_wheel_joint</left_joint>
            <right_joint>right_wheel_joint</right_joint>
            <wheel_separation>0.292</wheel_separation>
            <wheel_radius>0.031</wheel_radius>

            <!-- Limit -->
            <max_linear_acceleration>10</max_linear_acceleration>

            <!-- Input -->
            <topic>cmd_vel</topic>

            <!-- Output -->
            <frame_id>odom</frame_id>
            <child_frame_id>base_link</child_frame_id>
            <odom_topic>odom</odom_topic>
            <tf_topic>tf</tf_topic>
            <!-- <odom_publisher_frequency>30</odom_publisher_frequency>-->
            <!-- <odometry_frame>odom</odometry_frame>
             <robot_base_frame>base_link</robot_base_frame> -->
            <publish_odom>true</publish_odom>
            <publish_odom_tf>true</publish_odom_tf>
            <publish_wheel_tf>true</publish_wheel_tf>

        </plugin>


        <plugin
            name="gz::sim::systems::JointStatePublisher"
            filename="gz-sim-joint-state-publisher-system">
            <topic>joint_states</topic>
            <joint_name>left_wheel_joint</joint_name>
            <joint_name>right_wheel_joint</joint_name>

        </plugin>
    </gazebo>


    <!-- Lidar Sensor -->
    <gazebo>
        <plugin
            filename='gz-sim-sensors-system'
            name='gz::sim::systems::Sensors'>
            <render_engine>ogre2</render_engine>


        </plugin>


    </gazebo>

    <gazebo reference="laser_frame">
        <sensor name='gpu_lidar' type='gpu_lidar'>
            <pose relative_to='laser_frame'>0 0 0 0 0 0</pose>

            
            <lidar>
                <scan>
                    <horizontal>
                        <samples>2000</samples>
                        <resolution>1</resolution>
                        <min_angle>-3.14</min_angle>
                        <max_angle>3.14</max_angle>
                    </horizontal>

                </scan>
                <range>
                    <min>0.3</min>
                    <max>12</max>
                    <resolution>1</resolution>
                </range>
                <noise>
                    <type>gaussian</type>
                    <mean>0.0</mean>
                    <stddev>0.001</stddev>
                </noise>
            </lidar>
            <!-- <gz_frame_id>laser_frame</gz_frame_id> -->

            <always_on>1</always_on>
            <visualize>true</visualize>


            <topic>scan</topic>
            <update_rate>5</update_rate>


            <!-- <argument>~/out:=scan</argument> 
                <gz_frame_id>laser_frame</gz_frame_id> 
        -->


            <frame_id>laser_frame</frame_id>
            <output_type>sensor_msgs/LaserScan</output_type>
            <gz_frame_id>laser_frame</gz_frame_id>


        </sensor>


    </gazebo>

</robot>